<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customerService"
		class="com.nish.bank.service.impl.CustomerServiceImpl">
	</bean>

	<bean id="customer" class="com.nish.bank.model.Customer">
		<property name="customerId"  value="1234" />
		<property name="customerName" value="Vinit" />
		<property name="customerContact" value="8618646543 " />
		<property name="customerAddress" value=" 24th Main, 6th Cross, Bangalore, Karnataka, 560068 " />
	</bean>

</beans>